{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Welcome to TaskMate!</title>
{% endblock title %}


{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4">
                <img src="{% static 'images/stickynote3.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="360" height="250">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/nitol.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="360" height="250">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/stickynote2.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="360" height="250">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 offset-md-1">
            <center><p class="h1 text-info">Quick and Easy to Use, Anytime, Anywhere!</p></center>
            <center><p class="h2 mt-3">Plan Your Day Better, Be Organized</p></center>
            <center><p class="h5">TASKMATE Lets You Keep Track of Your Task In One Place.</p></center>

            <center><a href="{% url 'todolist' %}"<button type="button" class="btn btn-info btn-lg mt-3 shadow">Let's Get Started</button></a></center>
        </div>
    </div>


{% endblock content %}